.round {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.3*var(--rvv));
}

.round-title {
    padding: calc(0.2*var(--rvv));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    background-color: #00d5007d;
}

.round-number {
    margin-left: 3px;
    font-size: calc(0.5*var(--rvv));
}

.round-stats {
    font-size: calc(0.45*var(--rvv));
}

.card-container {
    padding: calc(0.3*var(--rvv));
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(0.5*var(--rvv));
}