.scoreboard {
    min-height: 6vh;
    max-height: 40px;
    display: flex;
    gap: calc(1*var(--rvv));
    font-size: calc(0.55*var(--rvv));
}

.score {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.current-score {
    justify-content: flex-end;
}

.score-label {
    text-align: end;
}