.scoreboard {
    min-height: 6vh;
    max-height: 40px;
    display: flex;
    justify-content: center;
    font-size: calc(0.55*var(--rvv));
}

.score {
    margin-left: calc(0.8*var(--rvv));
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.current-score {
    margin-left: calc(0.3*var(--rvv));
    justify-content: flex-end;
}

.score-label {
    text-align: end;
}

/* desktop effects: */
@media screen and (min-width: 600px) {

    .current-score:hover {
        color: #1aff00;
        -webkit-text-stroke: 0.5px black;
    }

    .high-score:hover {
        color: #1aff00;
        -webkit-text-stroke: 0.5px black;

    }
}