.title-section {
    min-height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.2*var(--rvv));
}

.title-text {
    margin: calc(0.2*var(--rvv)) 0;
    color: #007600;
    font-family: 'MIP';
    font-size: calc(var(--rvv));
}

.instructions {
    font-style: italic;
    font-size: calc(0.4*var(--rvv));
}

.underline {
    text-decoration: underline;
}

/* desktop effects: */
@media screen and (min-width: 600px) {

    .title-text{
        transition: transform 1.3s linear, color 1.3s linear;
    }

    .title-text:hover {
        color: #20C20E;
        transform: scale(1.2);
    }

}