.title-section {
    min-height: 6vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title-text {
    color: #007600;
    font-family: 'MIP';
    font-size: calc(var(--rvv));
}

/* desktop effects: */
@media screen and (min-width: 600px) {

    .title-text{
        transition: transform 1.3s linear, color 1.3s linear;
    }

    .title-text:hover {
        color: #20C20E;
        transform: scale(1.2);
    }
}