.title-section {
    min-height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.2*var(--rvv));
}

.title-text {
    margin: calc(0.2*var(--rvv)) 0;
    color: #20C20E;
    -webkit-text-stroke: 0.5px black;
    font-family: 'MIP';
    font-size: calc(1.3*var(--rvv));
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.1*var(--rvv));
}

.click-notice {
    font-style: italic;
    font-size: calc(0.4*var(--rvv));
}

.shuffle-notice {
    font-size: calc(0.33*var(--rvv));
}

.underline {
    text-decoration: underline;
}

/* desktop hover effects: */
@media screen and (min-width: 600px) {

    .title-text{
        transition: transform 0.75s linear, color 0.75s linear;
    }

    .title-text:hover {
        color: black;
        transform: scale(1.2);
    }

}